#mainContainer {
  background-image: url('../assets/images/background-login-page.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#formContainer {
  background-color: #0b1f51;
}

#submit-button {
  color: #0b1f51;
}
